@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
  --card: 255 255 255;
  --card-foreground: 0 0 0;
  --primary: 0 0 0;
  --primary-foreground: 255 255 255;
}

.dark {
  --background: 0 0 0;
  --foreground: 255 255 255;
  --card: 18 18 18;
  --card-foreground: 255 255 255;
  --primary: 255 255 255;
  --primary-foreground: 0 0 0;
}
